@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Forum&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Forum&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


* {
    padding: 0;
    margin: 0;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    text-align: center;
    color: white;
}

header h1 {
    font-family: "Passion One";
    font-variant: small-caps;
    padding-top: 50px;
}

header p {
    font-size: 1.2em;
    font-family: 'Sriracha', sans-serif;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a :hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

.normal {
    background-color: white;
}

.imagem {
    background-color: rgb(48, 47, 47);
    color: white;
}

.imagem > p {
    width: 400px;
    background-color: rgb(24, 24, 24);
}

/* .container1 {
    background-image: url('imagens/background001.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
}

.container2 {
    background-image: url('imagens/background002.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
} */

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5em;
    min-height: 30px;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: white;
}