@charset "UTF-8";
body {
    background-color: rgb(235, 245, 146);
    font-family: Arial, sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(123, 7, 158);
    background-color:darkgray;
}
h2 {
    color:darkgoldenrod;
}
p{
    text-align: justify;
}