@charset "utf-8";

body {
     background-image: linear-gradient(to right, rgb(0, 204, 255), rgba(47, 92, 175, 0.829), rgb(0, 255, 115));
    text-align: center;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.705);
    height: 100%;
    width: 600px
}
h1 {color: rgba(37, 241, 221, 0.788);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
}
